# Secret files
secrets.*

# Terraform related files
*.tfstate*
production/terraform/variables.yml

# Tool generated directories
.terraform*
.vagrant*
inventory

# Artifacts directories
boxes/
http/
virtualbox-dev-alma/
vmware-esxi-alma/
virtualbox-dev-centos/
vmware-esxi-centos/

# Archimate Files
*.archimate*

# tcpdump files
*.pcap