# Secret files
secrets.*

# Terraform related files
*.tfstate*

# Tool generated directories
.terraform*
.vagrant*

# Artifacts directories
boxes/
http/
virtualbox-dev-alma/
vmware-esxi-alma/
virtualbox-dev-centos/
vmware-esxi-centos/

# Archimate Files
*.archimate*
