// named.conf

options {
    listen-on port 53 { 127.0.0.1; {{ ansible_host }}; };
    directory   "/var/named";
    dump-file   "/var/named/data/cache_dump.db";
    statistics-file   "/var/named/data/named_stats.txt";
    memstatistics-file   "/var/named/data/named_mem_stats.txt";

    allow-query { any; };
    {% if hostvars[inventory_hostname].ismaster == 'yes' %}
    allow-transfer { localhost; {% for dns in dns_servers %} {{ dns['ipv4'] }}; {% endfor %}};
    {% endif %}
    recursion no;

    dnssec-enable yes;
    dnssec-validation yes;

    /* Path to ISC DLV key */
    bindkeys-file "/etc/named.iscdlv.key";

    managed-keys-directory "/var/named/dynamic";

    pid-file "/run/named/named.pid";
    session-keyfile "/run/named/session.key";
};

logging {
    channel default_debug {
        file "data/named.run";
        severity dynamic;
    };
};

zone "apollo144.com" IN {
    {% if hostvars[inventory_hostname].ismaster == 'yes' %}
    type master;
    file "apollo144.zone";
    allow-update { none; };
    {% else %}
    type slave;
    masters { {{ dns_servers[0]['ipv4'] }}; };
    file "apollo144.zone";
    {% endif %}
};

zone "168.192.in-addr.arpa" {
     {% if hostvars[inventory_hostname].ismaster == 'yes' %}
    type master;
    file "192.168.zone";
    allow-update { none; };
    {% else %}
    type slave;
    masters { {{ dns_servers[0]['ipv4'] }}; };
    file "192.168.zone";
    {% endif %}   
};