#!/usr/sbin/setkey -f

# Flush the SAD and SPD
flush;
spdflush;

# AH SAs using 128 bit long keys

{%  for int in ipsec %}
{%      set endpoint = ipsec[int] %}

add {{ endpoint['left']['ipv4'] }} {{ endpoint['right']['ipv4'] }} esp {{ endpoint['left']['id'] }} -m tunnel -E 3des-cbc
{{ endpoint['left']['key'] }};

add {{ endpoint['right']['ipv4'] }} {{ endpoint['left']['ipv4'] }} esp {{ endpoint['right']['id'] }} -m tunnel -E 3des-cbc
{{ endpoint['right']['key'] }};

{%  endfor %}


# Security Policies Host to Host
{%  for int in ipsec %}
{%      set endpoint = ipsec[int] %} 

# Router-to-router
spdadd {{ endpoint['left']['ipv4'] }}/32 {{ endpoint['right']['ipv4'] }}/32 any -P in ipsec
        esp/tunnel/{{ endpoint['left']['ipv4'] }}-{{ endpoint['right']['ipv4'] }}/require;
        
spdadd {{ endpoint['right']['ipv4'] }}/32 {{ endpoint['left']['ipv4'] }}/32 any -P out ipsec
        esp/tunnel/{{ endpoint['right']['ipv4'] }}-{{ endpoint['left']['ipv4'] }}/require;

{%      if endpoint['subnet'] is defined %}
# Router-to-subnet

spdadd {{ endpoint['subnet'] }} {{ endpoint['right']['ipv4'] }}/32 any -P in ipsec
        esp/tunnel/{{ endpoint['left']['ipv4'] }}-{{ endpoint['right']['ipv4'] }}/require;
        
spdadd {{ endpoint['right']['ipv4'] }}/32 {{ endpoint['subnet'] }} any -P out ipsec
        esp/tunnel/{{ endpoint['right']['ipv4'] }}-{{ endpoint['left']['ipv4'] }}/require;

{%      endif %}

{%      for subnet in subnets %}
# subnet-to-Router
spdadd {{ subnet }} {{ endpoint['left']['ipv4'] }}/32 any -P out ipsec
        esp/tunnel/{{ endpoint['right']['ipv4'] }}-{{ endpoint['left']['ipv4'] }}/require;

spdadd {{ endpoint['left']['ipv4'] }}/32 {{ subnet }} any -P in ipsec
        esp/tunnel/{{ endpoint['left']['ipv4'] }}-{{ endpoint['right']['ipv4'] }}/require;

{%          if endpoint['subnet'] is defined %}
# subnet-to-subnet

spdadd {{ endpoint['subnet'] }} {{ subnet }} any -P in ipsec
        esp/tunnel/{{ endpoint['left']['ipv4'] }}-{{ endpoint['right']['ipv4'] }}/require;
        
spdadd {{ subnet }} {{ endpoint['subnet'] }} any -P out ipsec
        esp/tunnel/{{ endpoint['right']['ipv4'] }}-{{ endpoint['left']['ipv4'] }}/require;

{%          endif %}
{%      endfor %}
{%  endfor %}
