#!/usr/sbin/setkey -f

# Flush the SAD and SPD
flush;
spdflush;

# AH SAs using 128 bit long keys

{%  for int in ipsec %}
{%      set endpoint = ipsec[int] %}

add {{ endpoint['left']['ipv4'] }} {{ endpoint['right']['ipv4'] }} esp {{ endpoint['left']['id'] }} -m tunnel -E 3des-cbc
{{ endpoint['left']['key'] }};

add {{ endpoint['right']['ipv4'] }} {{ endpoint['left']['ipv4'] }} esp {{ endpoint['right']['id'] }} -m tunnel -E 3des-cbc
{{ endpoint['right']['key'] }};

{%  endfor %}


# Security Policies Host to Host
{%  for int in ipsec %}
{%      set endpoint = ipsec[int] %} 

spdadd {{ endpoint['left']['ipv4'] }}/32 {{ endpoint['right']['ipv4'] }}/32 any -P in ipsec
        esp/tunnel/{{ endpoint['left']['ipv4'] }}-{{ endpoint['right']['ipv4'] }}/require;
        
spdadd {{ endpoint['right']['ipv4'] }}/32 {{ endpoint['left']['ipv4'] }}/32 any -P out ipsec
        esp/tunnel/{{ endpoint['right']['ipv4'] }}-{{ endpoint['left']['ipv4'] }}/require;

{%      for subnet in subnets %}
spdadd {{ subnet }} {{ endpoint['left']['ipv4'] }}/32 any -P out ipsec
        esp/tunnel/{{ endpoint['right']['ipv4'] }}-{{ endpoint['left']['ipv4'] }}/require;

spdadd {{ endpoint['left']['ipv4'] }}/32 {{ subnet }} any -P in ipsec
        esp/tunnel/{{ endpoint['left']['ipv4'] }}-{{ endpoint['right']['ipv4'] }}/require;
{%      endfor %}

{%  endfor %}
